.red{
    color:rgb(254,67,101);
}
.lightred{
    color:rgb(252,157,154)
}
.yellow{
    color: rgb(249,205,173);
}
.green{
    color:rgb(131,175,155);
}
.lightgreen{
    color:rgb(200,200,169);
}